name: Build Tweak

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Theos
        uses: actions/checkout@v3
        with:
          repository: theos/theos
          path: theos
          submodules: recursive
      
      - name: Setup iOS SDK
        uses: actions/checkout@v3
        with:
          repository: theos/sdks
          path: theos/sdks
          
      - name: Build .deb
        run: |
          export THEOS=$(pwd)/theos
          make package FINALPACKAGE=1
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: CriticalChams_Compiled
          path: packages/*.deb
